{% extends 'sis/admin_templates/base_new.html' %}

{% block content %}
{% load tags %}
<div class="container">
    {{block.super}}
    <section class="border-bottom my-5  ">
        <h1 class="font-weight-bold {% if request.user.id|is_dark_mode %} text-white{% endif %}" >My Grades</h1>
    </section>
    <section>
        <div class="row" >
    
            {% for course in courses %}
            <div class="col-12 link ">
                <a class="link" href="{% url 'course_dashboard' course.id course.instructor.id %}" data-toggle="modal" data-target=".bd-example-modal-lg-{{course.id}}" >

                    <div class="card mb-3 shadow  card-shadow {% if request.user.id|is_dark_mode %} bg-2 text-white shadow-card-dark card-shadow-dark{% endif %}">
                        
                        <div class="card-body">
                            <h5 class="card-title"> {{course.code}} {{course.name}}</h5>
                            <p class="card-text  view-grades {% if request.user.id|is_dark_mode %} text-white {% endif %}">
                                View Grades
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="modal fade bd-example-modal-lg-{{course.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content {% if request.user.id|is_dark_mode %} bg-2 text-white shadow-card-dark{% endif %}">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                <a class="{% if request.user.id|is_dark_mode %} text-white {% endif %}" href="{% url 'course_dashboard' id=course.id instructor_id=course.instructor.id  %}" >

                                    {{course.code}} {{course.name}} Section {{course.section}} 
                                </a>
                                
                                <small> instructed by {{course.instructor.username}}</small></h5>
                            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-left py-0 ">
                            <div class="row">
                                <div class="col-12 p-0">
                                    <div class="table-responsive p-0 overflow-auto"  >
                                        <table id="view_courses" class="table table-striped table-hover table-bordered text-center {% if request.user.id|is_dark_mode %} text-white{% endif %}">
                                        {% if not assignment %}

                                            <thead class="{% if request.user.id|is_dark_mode %} bg-6{% endif %}" >
                                                <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Assignment</th>
                                                <th scope="col">Grade</th>
                                                <th scope="col">Submission</th>
                                                <th scope="col">Due Date</th>
                                                <th scope="col">Submitted At</th>
                                                </tr>
                                            </head>
                                            <tbody>
                                                    {% for assignment in course|assignments_course %}
                                                    <tr>
                                                    <th scope="row"> {{forloop.counter}} </th>
                                                    <td> {{assignment.name}} </td>
                                                        <td> {{assignment|assignment_grade:user}}/{{assignment.possible_points}} </td>
                                                        {% if assignment|is_submitted:user %} 
                                                            <td>Submitted </td>
                                                        {% else %}
                                                            <td > Not Submitted </td>
                                                        {% endif %}
                                                        <td> {{assignment.due_date}} </td>
                                                        <td> {{assignment|date_submitted:user}} </td>
                                                        
                                                    </tr>
                                                        {% endfor %}
                                            </tbody>
                                            <thead class="{% if request.user.id|is_dark_mode %} bg-6{% endif %}" >
                                                <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Assignment</th>
                                                <th scope="col">Grade</th>
                                                <th scope="col">Submission</th>
                                                <th scope="col">Due Date</th>
                                                <th scope="col">Submitted At</th>
                                                </tr>
                                            </head>
                                            {% else %}
                                                <div class="container d-flex justify-content-center">
                                                    <h2>Wow, such empty...</h2>
                                                </div>
                                            {% endif %}
                                        </table>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    

        



</div>

{% endblock content %}