{% extends 'sis/admin_templates/base_new.html' %}

{% block content %}
<div class="container">
    <a class="btn btn-primary btn-customized open-menu" href="#" role="button">
      <i class="fas fa-align-left"></i> <span>Menu</span>
    </a>
    <section class="my-5 border-bottom text-left">
        <h1 class="p-2"><strong>Activity Stream </strong></h1>
    </section>
    <section class="container text-left">
        <h2 class="ml-5" >Recent</h2>
        {% for post in posts %}
        <ul class="recent-feed">
            <a class="recent-link" href="{% url 'course_dashboard' post.course.id post.course.instructor.id %}" >  
                <div class="card border-0 recent-card">
                    <div class="card-body">
                        <div class="row" >
                            <div class="col-2 border-right" >
                                {{post.date_posted}}
                            </div>
                            <div class="col-10" >
                                <li>
                                    <h5> {{post.course.code}} {{post.course.name}} #{{post.course.section}} </h5>
                                    <h5 class="card-title">
                                        {{post.name}} {{post.title}} 
                                    </h5>
                                    <p>
                                        {{post.content}} {{post.description}}
                                    </p>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </ul>
        {% endfor %}
    </section>

</div>

{% endblock content %}