{% extends 'sis/admin_templates/base_new.html' %}

{% load tags %}
{% block content %}

<div class=" container {% if request.user.id|is_dark_mode %} text-white{% endif %}">
    {{block.super}}
    <section>
        <h1 class=" p-5 text-white bg-3">
            <strong>
                Your Account
            </strong>
        </h1>
    </section>

    <section class="" >
        <ul class="list-group list-group-flush ">
            <li class="list-group-item {% if request.user.id|is_dark_mode %}bg-3 text-white border-light{% endif %} ">
                <div class="row ">
                    <div class="col">
                        <strong>
                            Full Name
                        </strong>
                    </div>
                    <div class="col text-left border-left">{{user.username}}</div>
                </div>
            </li>
            <li class="list-group-item {% if request.user.id|is_dark_mode %}bg-3 text-white border-light{% endif %}">
                <div class="row">
                    <div class="col">
                        <strong>
                            Email Address
                        </strong>
                    </div>
                    <div class="col text-left border-left">{{user.email}}</div>
                </div>
            </li>
            <li class="list-group-item {% if request.user.id|is_dark_mode %}bg-3 text-white border-light{% endif %}">
                <div class="row">
                    <div class="col ">
                        <strong>
                            ID
                        </strong>
                    </div>
                    <div class="col text-left border-left"> {{user.id}} </div>
                </div>
            </li>
            <li class="list-group-item {% if request.user.id|is_dark_mode %}bg-3 text-white border-light{% endif %}">
                <div class="row">
                    <div class="col ">
                        <strong>
                            Mobile Number
                        </strong>
                    </div>
                    <div class="col text-left border-left"> {{user.phone_number}} </div>
                </div>
            </li>
            <li class="list-group-item {% if request.user.id|is_dark_mode %}bg-3 text-white border-light{% endif %}">
                <div class="row">
                    <div class="col ">
                        <strong>
                            Address
                        </strong>
                    </div>
                    <div class="col text-left border-left"> {{user.address}} </div>
                </div>
            </li>
            {% if user.user_type == "STU" %}
                <li class="list-group-item {% if request.user.id|is_dark_mode %}bg-3 text-white border-light{% endif %}">
                    <div class="row">
                        <div class="col ">
                            <strong>
                                Class of
                            </strong>
                        </div>
                        <div class="col text-left border-left"> {{user.year}} </div>
                    </div>
                </li>
                <li class="list-group-item {% if request.user.id|is_dark_mode %}bg-3 text-white border-light{% endif %}">
                    <div class="row">
                        <div class="col">
                            <strong>
                                Paid
                            </strong>
                        </div>
                        <div class="col text-left border-left">{{student|paid_full}}</div>
                    </div>
                </li>
                <li class="list-group-item {% if request.user.id|is_dark_mode %}bg-3 text-white border-light{% endif %}">
                    <div class="row">
                        <div class="col">
                            <strong>
                                Amount Paid
                            </strong>
                        </div>
                        <div class="col text-left border-left">{{report.amount_paid}}</div>
                    </div>
                </li>
                <li class="list-group-item {% if request.user.id|is_dark_mode %}bg-3 text-white border-light{% endif %}">
                    <div class="row">
                        <div class="col">
                            <strong>
                                Amount Remaining
                            </strong>
                        </div>
                        <div class="col text-left border-left">{{report|fee_remaining}}</div>
                    </div>
                </li>
            {% endif %}
        </ul>
    </section>
</div>


{% endblock content %}