{% extends 'sis/admin_templates/base_new.html' %}

{%block scripts%}

{%endblock scripts%}

{%block content%}
<a class="btn btn-primary btn-customized open-menu" href="#" role="button">
    <i class="fas fa-align-left"></i> <span>Menu</span>
</a>

<div class="container">
    <section class="m-5">
        <h1>School's General Statistics</h1>
    </section>
    <section class="text-left">
        <h3> Students attendance = %{{attendance_present_percentage}} </h3>
    </section>

</div>

{%endblock content%}
