{% extends 'sis/admin_templates/base_new.html' %}

{% load static %}
{% load tags %}

{% block content %}

<div class="container">
    <a class="btn btn-primary btn-customized open-menu" href="#" role="button">
      <i class="fas fa-align-left"></i> <span>Menu</span>
    </a>
    <section>
        <h1 class=" p-5">
            <strong>
                {{student.username}}'s Fee Report - {{fee.year}}
            </strong>
        </h1>
    </section>

    <section>
        <div class="col p-4 d-flex justify-content-end align-items-start" >
                <a 
                    class="btn btn-dark mx-2" 
                    href="{% url 'view_students' semester.id  %}" 
                    > Export
                </a>
                <a 
                    class="btn btn-primary" 
                    href="{% url 'view_students' semester.id %}" 
                    > Back
                </a>
            </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <strong>
                            Full Name
                        </strong>
                    </div>
                    <div class="col text-left border-left">{{student.username}}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <strong>
                            Paid
                        </strong>
                    </div>
                    <div class="col text-left border-left">{{student|paid_full}}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <strong>
                            Amount Paid
                        </strong>
                    </div>
                    <div class="col text-left border-left">{{report.amount_paid}}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <strong>
                            Amount Remaining
                        </strong>
                    </div>
                    <div class="col text-left border-left">{{report|fee_remaining}}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <strong>
                            Email Address
                        </strong>
                    </div>
                    <div class="col text-left border-left">{{student.email}}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col ">
                        <strong>
                            ID
                        </strong>
                    </div>
                    <div class="col text-left border-left"> {{student.id}} </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col ">
                        <strong>
                            Mobile Number
                        </strong>
                    </div>
                    <div class="col text-left border-left"> {{student.phone_number}} </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col ">
                        <strong>
                            Address
                        </strong>
                    </div>
                    <div class="col text-left border-left"> {{student.address}} </div>
                </div>
            </li>
            {% if user.user_type == "STU" %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col ">
                            <strong>
                                Class of
                            </strong>
                        </div>
                        <div class="col text-left border-left"> {{student.year}} </div>
                    </div>
                </li>
            {% endif %}
        </ul>
    </section>
</div>


{% endblock content %}