{% extends 'sis/admin_templates/base_new.html' %}

{% load tags %}
{% block content %}
<a class="btn btn-primary btn-customized open-menu" href="#" role="button">
    <i class="fas fa-align-left"></i> <span>Menu</span>
</a>
<section class="border-bottom my-5 ">
        <h1 class="font-weight-bold" > Manage {{fees.fee_year}} Fees</h1>
        <h4 class="font-weight-bold" > {{fees.note}}</h4>
</section>
<div class="col p-4 d-flex justify-content-end align-items-start" >
    <a 
        class="btn btn-primary mr-2" 
        href="{% url 'export_courses' %}" 
        > Export
    </a>
    <a 
        class="btn btn-dark" 
        href="{% url 'fees' %}" 
        > back
    </a>
</div>

<div class="table-responsive p-0 overflow-auto" style="" >
    <table id="view_courses" class="table table-striped table-hover table-bordered text-center">
        <thead>
            <tr>
            <th  scope="col">#</th>
            <th scope="col">Student</th>
            <th scope="col">Date Paid Full</th>
            <th scope="col">Paid Full</th>
            <th scope="col">Amount Paid</th>
            <th scope="col">Note</th>
            <th scope="col">Edit Report</th>
            <th scope="col">View Report</th>
            </tr>
        </head>
        <tbody>
            {% for fee in fees.student_fees.all %}
                <tr>
                    <th  scope="row"> {{forloop.counter}} </th>
                    <td> {{fee.student.username}} </td>
                    <td> {{fee.student|date_paid_full}} </td>
                    <td> {{fee|paid_full}} </td>
                    <td> {{fee.amount_paid}} </td>
                    <td> {{fee.note}} </td>
                    <td class="" > <a class="btn btn-dark btn-block" href="{% url 'edit_fee_report' fee.id %}" > Edit Fee </a> </td>
                    <td class="" > <a class="btn btn-primary btn-block" href="{% url 'fees_report' fee.student.id %}" > View Fee </a> </td>
                </tr>
            {% endfor %}
        </tbody>
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Student</th>
            <th scope="col">Date Paid Full</th>
            <th scope="col">Paid Full</th>
            <th scope="col">Amount Paid</th>
            <th scope="col">Note</th>
            <th scope="col">Edit Report</th>
            <th scope="col">View Report</th>
            </tr>
        </head>
    </table>
</div>


{% endblock content %}