{% extends 'sis/admin_templates/base_new.html' %}

{% load static %}
 {% load tags %}
{% block content %}


    <a class="btn btn-primary btn-customized open-menu" href="#" role="button">
      <i class="fas fa-align-left"></i> <span>Menu</span>
    </a>
    <!-- img id start from 1032 -->
    <section class="border-bottom my-5  ">
        <h1 class="font-weight-bold" > Editing {{student.username}}'s Gradebook Report</h1>
    </section>
    <section>
        <div class="container-fluid px-0">
            <div class="row mb-4 d-flex justify-content-center">
                <div class="col d-flex flex-column align-items-start  " style="max-width: fit-content;" >
                    <h4> {{course.name}} {{course.code}} #{{course.section}}</h4>
                    <h4> {{student.username}} {{student.year}} </h4>
                    <h4> {{student.email}} </h4>
                    <h4> Absences: {{student|absence_student:course}}</h4>
                    <h4> Average grade: <strong>{{student|average_grade_student:course}}% </strong> </h4>
                </div>
            </div>
            <div class="col p-4 d-flex justify-content-end align-items-start" >
                <a 
                    class="btn btn-dark mx-2" 
                    href="{% url 'gradebook_course' course.id  %}" 
                    > Export
                </a>
                <a 
                    class="btn btn-primary" 
                    href="{% url 'export_courses' %}" 
                    > Back
                </a>
            </div>
            <div class="table-responsive p-0 overflow-auto " style="border-left-width: thick;border-right-width: thick;" >
                <table id="view_courses" class="table table-striped table-hover table-bordered text-center" style="border-left-width: thick;border-right-width: thick;">
                    <thead>
                        <tr>
                        <th  scope="col">#</th>
                        <th scope="col">Assignment</th>
                        <th scope="col">Type</th>
                        <th scope="col">Grade</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Submitted At</th>
                        <th scope="col">Submission</th>
                        <th scope="col">Edit</th>
                        </tr>
                    </head>
                    <tbody>
                        <form method="POST" >
                            {% csrf_token %}
                            {{ formset.management_form }}
                            {% for assignment in assignments %}
                            
                                <tr>
                                    <th scope="row"> {{forloop.counter}} </th>
                                    <td> {{assignment.name}} </td>
                                    <td> {{assignment.category}} </td>
                                    <td class="d-flex justify-content-center" > 
                                        {{formset|form_iter:forloop.counter0|safe}} /{{assignment.possible_points}}
                                    </td>
                                    <td> {{assignment.due_date}} </td>
                                    <td> {{assignment|date_submitted:student}} </td>
                                    {% if assignment|is_submitted:student %} 
                                    <td style="color:green" >Submitted </td>
                                    {% else %}
                                    <td style="color:red" > Not Submitted </td>
                                    {% endif %}
                                    <td class="" > <button type="submit" class="btn btn-dark" style="width: max-content;" > Save Changes </button> </td>
                                            
                                </tr>
                                {% endfor %}
                            </form>
                    </tbody>
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Assignment</th>
                        <th scope="col">Type</th>
                        <th scope="col">Grade</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Submitted At</th>
                        <th scope="col">Submission</th>
                        <th scope="col">Edit</th>
                        </tr>
                    </head>
                </table>
            </div>

        </div>
    </section>


{% endblock content %}