{% extends 'sis/admin_templates/base_new.html' %}
{% load crispy_forms_tags %}
{% load tags %}

{% block content %}

    <a class="btn btn-primary btn-customized open-menu" href="#" role="button">
      <i class="fas fa-align-left"></i> <span>Menu</span>
    </a>
        <ul class="nav nav-tabs mb-3 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'inbox' %}">Inbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Sent</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="container">

                <div class="row">
                    <div class="col-12 d-flex align-items-start my-2">

                        <button type="button" class="btn btn-dark rounded-pill " data-toggle="modal" data-target="#exampleModal">
                            Send Message <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    {% if not sent_msgs %}
                            <div class="col-12">
                                <h3>
                                    Wow, such empty...
                                </h3>
                            </div>
                    {% else %}
                        {% for msg in sent_msgs %}
                            <div class="col-12 ">

                                <a  href="#sent-msg-{{msg.id}}" class=" text-dark " data-toggle="modal" data-target="#sent-msg-{{msg.id}}" >
                                    <div class="card rounded my-1 shadow-sm inbox-card card-shadow"  >
                                        <div class="card-body d-flex">
                                            <div class="col-2 d-flex align-items-start flex-column">
                                                <h6>
                                                    <strong>
                                                        To: {{msg.reciever}}
                                                    </strong>
                                                </h6>
                                            </div>
                                            <div class="col-7 d-flex align-items-start flex-column" style="text-overflow: ellipsis; max-width:800px; overflow: hidden; white-space: nowrap;">
                                            
                                                <h6 class="card-title " > 
                                                    {{msg.title}} <small> {{msg.content}}</small>
                                                </h6>
                                            
                                            </div>
                                            <div class="col-3">
                                            <span class="align-items-end" > {{msg.date_sent}} </span>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <div class="modal fade" id='sent-msg-{{msg.id}}'  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content text-dark">
                                <div class="modal-header">
                                    <h5 class="modal-title text-left" id="exampleModalLabel" style="width: 100%;">
                                        <div class="row my-3">
                                            <div class="col-12">
                                                <strong>
                                                    {{msg.title}}
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <small>
                                                    From: {{msg.sender}}
                                                </small>
                                            </div>
                                            <div class="col-6 d-flex justify-content-end">
                                                <small>
                                                    {{msg.date_sent}}
                                                </small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-left">
                                                <h5>
                                                    <small>
                                                        To: {{msg.reciever}}
                                                    </small>
                                                </h5>
                                            </div>
                                        </div>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-left" >
                                    <div class="container-fluid">
                                        <div class="row">
                                            <p>
                                                {{msg.content|linebreaksbr}}
                                            </p>
                                            <ul>
                                                {% for file in msg.files.all %}
        
                                                <li> <a href="{{file.file.url}}" >{{file.filename}} </a> </li>
                                            
                                            
                                                {% endfor %}
                                            </ul>
                                            {% for reply in msg.replies.all %}
                                                <div class="container border-top">
                                                    <h5 class="modal-title text-left" id="exampleModalLabel" style="width: 100%;">
                                                        <div class="row my-3">
                                                            <div class="col-12">
                                                                <strong>
                                                                    {{reply.title}}
                                                                </strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <small>
                                                                    From: {{reply.sender}}
                                                                </small>
                                                            </div>
                                                            <div class="col-6 d-flex justify-content-end">
                                                                <small>
                                                                    {{reply.date_sent}}
                                                                </small>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 text-left">
                                                                <h5>
                                                                    <small>
                                                                        To: {{reply.reciever}}
                                                                    </small>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </h5>
                                                </div>
                                                <p>
                                                {{reply.content|linebreaksbr}}
                                                </p>
                                                <ul>
                                                    {% for file in reply.files.all %}
                                                        <li> <a href="{{file.file.url}}" >{{file.filename}} </a> </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %}
                                        </div>

                                    </div>
                                    <button 
                                            class="btn btn-info" 
                                            type="button" data-toggle="collapse"
                                            data-target="#collapseExample" 
                                            aria-expanded="false" 
                                            aria-controls="collapseExample"
                                            onClick="d-none">
                                            Reply
                                        </button>
                                    
                                    <button type="button" class="btn btn-dark">Close</button>
                                    <div class="collapse my-2" id="collapseExample">
                                        <div class="card card-body">
                                            <form method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}

                                                <fieldset class="form-group" > 
                                                    {% comment %} <legend> Enroll New Course </legend> {% endcomment %}
                                                    <div class="d-flex align-items-start" >
                                                    </div>
                                                    {% comment %} <div class="row">
                                                        <div class="col-12 text-left" >
                                                            <label> <strong>Reply To {{msg.sender}}</strong> </label>
                                                        </div>
                                                    </div> {% endcomment %}
                                                    <div class="row">
                                                        <div class="col-12 text-left" >
                                                            {{reply_form.title|as_crispy_field}}
                                                        </div>
                                                    </div>
                                                    <div class="row py-3">
                                                        <div class="col-12 text-left" >
                                                            {{reply_form.content|as_crispy_field}}
                                                        </div>
                                                    </div>
                                                    <div class="row py-3">
                                                        <div class="col-12 text-left" >
                                                            {{reply_form.file|as_crispy_field}}
                                                            <input type="hidden" name="reply_id" value="{{msg.replies.last.id}}" />
                                                            <input type="hidden" name="msg_id" value="{{msg.id}}" />
                                                        </div>
                                                    </div>
                                                    
                                                </fieldset>
                                                <div class="form-group d-flex justify-content-start">
                                                    <button type="submit" class="btn btn-dark"> Reply </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row d-flex justify-content-center pb-5 mb-5 pt-2">
                    {% if sent_msgs.has_previous %}
                        <a class="btn btn-dark infinite-more-link mx-2" href="?page={{ sent_msgs.previous_page_number }}">Previous</a>
                    {% endif %}
                    {% if sent_msgs.has_next %}
                        <a class="btn btn-dark infinite-more-link" href="?page={{ sent_msgs.next_page_number }}">Next</a>
                    {% endif %}

                </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex align-items-start my-2">
                            <button type="button" class="btn btn-dark rounded-pill " data-toggle="modal" data-target="#exampleModal">
                                Send Message <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">

                        {% if not recieved_msgs %}
                            <div class="col-12">
                                <h3>
                                    Wow, such empty...
                                </h3>
                            </div>
                        {% else %}

                            {% for msg in recieved_msgs %}
                                <div class="col-12 ">

                                    <a  href="#recieved-msg-{{msg.id}}" class=" text-dark " data-toggle="modal" data-target="#recieved-msg-{{msg.id}}" >
                                        <div class="card rounded my-1"  >
                                            <div class="card-body d-flex shadow-sm inbox-card card-shadow">
                                                <div class="col-3 d-flex align-items-start flex-column">
                                                    <h6>
                                                        {% if msg.is_replied %} 
                                                        
                                                            <strong>
                                                                From: {{msg|reply_sender}}
                                                                
                                                            </strong>
                                                        {% else %}
                                                            <strong>
                                                                From: {{msg.sender}}
                                                            </strong>
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                                <div class="col-6 d-flex align-items-start flex-column" style="text-overflow: ellipsis; max-width:800px; overflow: hidden; white-space: nowrap;">
                                                
                                                    <h6 class="card-title " > 
                                                        {{msg.title}} <small> {{msg.content}}</small>
                                                    </h6>
                                                
                                                </div>
                                                <div class="col-3">
                                                <span class="align-items-end" > {{msg.date_reply}} </span>
                                                
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <div class="modal fade" id='recieved-msg-{{msg.id}}'  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content text-dark">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-left" id="exampleModalLabel" style="width: 100%;">
                                            <div class="row my-3">
                                                <div class="col-12">
                                                    <strong>
                                                        {{msg.title}}
                                                    </strong>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <small>
                                                        From: {{msg.sender}}
                                                    </small>
                                                </div>
                                                <div class="col-6 d-flex justify-content-end">
                                                    <small>
                                                        {{msg.date_sent}}
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 text-left">
                                                    <h5>
                                                        <small>
                                                            To: {{msg.reciever}}
                                                        </small>
                                                    </h5>
                                                </div>
                                            </div>
                                        </h5>
            
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-left" >
                                        <div class="container-fluid">
                                            <p>
                                                {{msg.content|linebreaksbr}}
                                            </p>
                                            <ul>
                                                {% for file in msg.files.all %}
                                                    <li> <a href="{{file.file.url}}" >{{file.filename}} </a> </li>
                                                {% endfor %}
                                            </ul>
                                            {% for reply in msg.replies.all %}
                                                <div class="container border-top">
                                                    <h5 class="modal-title text-left" id="exampleModalLabel" style="width: 100%;">
                                                        <div class="row my-3">
                                                            <div class="col-12">
                                                                <strong>
                                                                    {{reply.title}}
                                                                </strong>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <small>
                                                                    From: {{reply.sender}}
                                                                </small>
                                                            </div>
                                                            <div class="col-6 d-flex justify-content-end">
                                                                <small>
                                                                    {{reply.date_sent}}
                                                                </small>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 text-left">
                                                                <h5>
                                                                    <small>
                                                                        To: {{reply.reciever}}
                                                                    </small>
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </h5>
                                                </div>
                                                <p>
                                                {{reply.content|linebreaksbr}}
                                                </p>
                                                <ul>
                                                    {% for file in reply.files.all %}
                                                        <li> <a href="{{file.file.url}}" >{{file.filename}} </a> </li>
                                                    {% endfor %}
                                                </ul>



                                            {% endfor %}
                                        </div>
                                         <button 
                                            class="btn btn-info" 
                                            type="button" data-toggle="collapse"
                                            data-target="#collapseExample" 
                                            aria-expanded="false" 
                                            aria-controls="collapseExample"
                                            onClick="d-none">
                                            Reply
                                        </button>
                                        <button type="button" class="btn btn-dark">Close</button>
                                        <div class="collapse my-2" id="collapseExample">
                                            <div class="card card-body">
                                                <form method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}

                                                    <fieldset class="form-group" > 
                                                        {% comment %} <legend> Enroll New Course </legend> {% endcomment %}
                                                        <div class="d-flex align-items-start" >
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 text-left" >
                                                                {{reply_form.title|as_crispy_field}}
                                                            </div>
                                                        </div>
                                                        <div class="row py-3">
                                                            <div class="col-12 text-left" >
                                                                {{reply_form.content|as_crispy_field}}
                                                            </div>
                                                        </div>
                                                        <div class="row py-3">
                                                            <div class="col-12 text-left" >
                                                                {{reply_form.file|as_crispy_field}}

                                                                <input type="hidden" name="reply_id" value="{{msg.replies.last.id}}" />
                                                                <input type="hidden" name="msg_id" value="{{msg.id}}" />
                                                            </div>
                                                        </div>
                                                        
                                                    </fieldset>
                                                    <div class="form-group d-flex justify-content-end">
                                                        <button type="submit" class="btn btn-dark"> Submit </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="message-for">
        <form method="post" >
            {% csrf_token %}
            {{message_form|crispy}}
            <button type="submit" class="btn btn-dark my-2">Send Message</button>
        </form>
    </div> -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <fieldset class="form-group" > 
                            {% comment %} <legend> Enroll New Course </legend> {% endcomment %}
                            <div class="d-flex align-items-start" >
                            </div>
                            <div class="row">
                                <div class="col-1 text-left" >
                                    <label> <strong>To:</strong> </label>
                                </div>
                                <div class="col-11 text-left" >
                                    {{message_form.users|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-left" >
                                    {{message_form.title|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row py-3">
                                <div class="col-12 text-left" >
                                    {{message_form.content|as_crispy_field}}
                                </div>
                            </div>
                            <div class="row py-3">
                                <div class="col-12 text-left" >
                                    {{message_form.file|as_crispy_field}}
                                </div>
                            </div>
                            
                        </fieldset>
                        <div class="form-group d-flex justify-content-end">
                            <button type="submit" class="btn btn-dark"> Submit </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- 
<script>
    const userCardTemplate = document.querySelector("[data-user-template]")
    const userCardContainer = document.querySelector("[data-user-cards-container]")
    const searchInput = document.querySelector("[data-search]")

    let users = []

    searchInput.addEventListener("input", e => {
    const value = e.target.value.toLowerCase()
    {{sent_msgs|safe}}.forEach(msg => {
        console.log(msg)
        const isVisible =
        msg.title.toLowerCase().includes(value) ||
        msg.content.toLowerCase().includes(value)
        msg.element.classList.toggle("hide", !isVisible)
    })
    })

        msgs = {{sent_msgs|safe}}.foreach(msg => {
        const card = userCardTemplate.content.cloneNode(true).children[0]
        const header = card.querySelector("[data-header]")
        const body = card.querySelector("[data-body]")
        header.textContent = msg.title
        body.textContent = msg.content
        userCardContainer.append(card)
        })
</script> -->



{% endblock content %}