{% extends 'sis/admin_templates/admin_base.html' %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="col-10 p-4" >
        {% comment %} <form method="POST" class="p-4">
            {% csrf_token %}

            <fieldset class="form-group" > 
                <legend> Enroll New Course </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-dark"> Enroll </button>
            </div>
        </form> {% endcomment %}
        <h2 class="p-2" > {% if instructor.first_name %} 
                    {{instructor.first_name}} {{instructor.last_name}}'s Classes
            {% else %} 
                    {{instructor.username}}'s Classes
            {% endif %} 
        </h2>
    </div>
    <div class="col p-4  d-flex justify-content-end align-items-start gap-2" >
        <a 
            class="btn btn-primary" 
            href="{% url 'export_staff_enrolled_course' id=instructor.id%}" 
            > Export
        </a>
        <a 
            class="btn btn-primary" 
            href="{% url 'view_staff' %}" 
            > Back
        </a>
    </div>

<div class="table-responsive p-0 overflow-auto" style="height:100vh;" >
    <table id="view_courses" class="table table-striped table-hover table-bordered text-center ">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Course</th>
            <th scope="col">Instructor</th>
            <th scope="col">Code</th>
            <th scope="col">Section</th>
            <th scope="col">Change Instructor</th>
            <th scope="col">Personal Analysis</th>
            </tr>
        </head>
        <tbody>
            {% for course in courses %}
                <tr>
                    <th  scope="row"> {{course.id}} </th>
                    <td> {{course.name}} </td>
                    <td> {{course.instructor.first_name}} {{course.instructor.last_name}} </td>
                    <td> {{course.code}} </td>
                    <td> {{course.section}} </td>
                    <td class="" ><a class="btn btn-dark btn-block" href="#" >X </a></td>
                    <td class="" > <a class="btn btn-primary btn-block" href="#{{course.id}}_dashboard" > View Analysis </a> </td>
                    
                </tr>
            {% endfor %}
        </tbody>
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Course</th>
            <th scope="col">Instructor</th>
            <th scope="col">Code</th>
            <th scope="col">Section</th>
            <th scope="col">Change INstructor</th>
            <th scope="col">Personal Analysis</th>
            </tr>
        </head>
    </table>
</div>

{% endblock content %}